<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<div class="container">
		<div class="navbar-brand"><img src="/logo.jpg" class="logo"></div>
		<p class="navbar-text"><span class="glyphicon glyphicon-pencil"></span> Test Mean Stack</p>
	</div>
</nav>
