<!DOCTYPE html>
<html>
	<head>
	  <% include ../partials/header.ejs %>
	  <% include ../partials/signin.ejs %>
	  <script type="text/javascript" src="script/read.js"></script>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<div id='lnData' class='main-data'>
			<div class="boxLn">
				<div class="panel panel-default">
					<span class="btLn"><script type="in/Login"></script></span>
				</div>
			</div>
			<div><img class='lnLogo' src='/lnLogo.png'></div>
			<div class='main-values'>
				<div class='topic-row'><span class='topic'>First name:</span><span id='fsName'></span></div> 
				<div class='topic-row'><span class='topic'>Last name:</span><span id='lsName'></span></div>
				<div class='topic-row'><span class='topic'>Url:</span><a id='urlProfile'></a></div>
				<div class='topic-row'><span class='topic'>Picture:</span><img id='picture'></div>
			</div>
		</div>
		<div class='main-data'>
			<div class='boxHistory'>
				<div class='panel panel-default'>
					<div class='title'>Access log</div>
					<div class="listHistory" id='history'></div>
				</div>
			</div>
		</div>
		<script>
			readLn();			
		</script>
	</body>
</html>
